* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  color: white;
  /* border: none; */
}
.container {
  height: 100vh;
  width: 100%;
  background-color: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    #434343 0%,
    rgba(27, 27, 27, 0.715) 100%
  );
}

.box {
  height: 25rem;
  width: 17rem;
  /* background-color: red; */
  border: #717171 solid 1px;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 99;
}

.box-display {
  height: 25%;
  width: 100%;
  background-color: lightsalmon;
  font-size: 1.9rem;
  overflow: hidden;
  /* text-align: right; */
  /* display: flex;
  align-items: flex-end;
  justify-content: flex-end; */
}

.box-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  justify-content: right;
}
.box button {
  font-size: 2rem;
  background: none;
  border-radius: 10px;
  padding: 3px;
}
button > i {
  font-size: 1.5rem;
}

#total {
  background-color: lightsalmon;
}
